$primary: #00eeff;

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 3rem;
  color: #fff;

  .description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;

    p {
      font-size: clamp(1.2rem, 1.6rem, 2rem);
      color: rgba(255, 255, 255, 0.8);
      width: 50vw;
      padding-right: 4rem;
      text-align: justify;
  
      em {
        color: $primary;
      }
    }
  }

  .code {
    font-size: clamp(1.2rem, 2rem, 3rem);
    text-align: left;
    font-family: 'Source Code Pro', monospace;
  }
}