$primary: #00eeff;

.about {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 0 100px 15px 100px;

  .description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;

    p {
      font-size: clamp(1.1rem, 8vw, 1.2rem);
      color: rgba(255, 255, 255, 0.8);
      width: 50vw;
      padding-right: 4rem;
      letter-spacing: 3px;
  
      em {
        color: $primary;
      }
    }
  }

  .code {
    font-size: clamp(1.2rem, 2rem, 3rem);
    text-align: left;
    font-family: 'Source Code Pro', monospace;
    width: 100%;
    padding: 2rem;
  }
}