.project {
  color: #fff;
  z-index: 10;
  width: 100%;
  padding: 0 200px;

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    min-width: 80vw;
    min-height: 60vh;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    filter: hue-rotate(90deg) brightness(70%) grayscale(50%);
    transition: all 0.2s ease-in-out;

    &:hover {
      filter: none;
    }

    .title {
      font-size: clamp(1.5rem, 3rem, 4rem);
      margin-bottom: 2rem;
      text-align: right;
    }

    .description {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
    }

    img {
      max-width: 40vw;
      min-width: 250px;
      height: auto;
      position: absolute;
      left: -70vw;
      top: -15vh;
      border-radius: 1px;
      box-shadow: -5px 5px 0px 0px #7bebff, -10px 10px 0px 0px #a1ffff,
        -15px 15px 0px 0px #e1eeff;

      @media only screen and (max-width: 1080px) {
        max-width: 40vw;
        left: -63vw;
        top: -3vh;
      }

      @media screen and (max-width: 768px) {
        top: -2vh;
      }

      @media screen and (max-width: 480px) {
        top: 14vh;
      }
    }

    p {
      width: 450px;
      right: 1rem;
      top: 200px;
      font-size: clamp(1.2rem, 1.3rem, 1.4rem);
      text-align: right;

      @media only screen and (max-width: 1080px) {
        width: 390px;
      }

      @media screen and (max-width: 768px) {
        font-size: 1rem;
        width: 300px;
      }
    }

    .tech {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      flex-wrap: wrap;
      align-items: center;
      margin-block: 1rem;
      border-top: 1px solid rgba(255, 255, 255, 0.6);
      line-height: 2rem;

      li {
        list-style: none;
        margin-left: 10px;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.6);
        font-size: clamp(0.6rem, 1rem, 1.1rem);
      }

      @media only screen and (max-width: 1080px) {
        padding-top: 20px;
      }

      @media screen and (max-width: 768px) {
        font-size: 1rem;
      }
    }

    .links {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: clamp(1.2rem, 1.6rem, 2rem);

      a {
        color: #fff;
        margin: 0.6rem;

        &:hover {
          color: rgb(0, 255, 255);
        }
      }
    }

    @media only screen and (max-width: 1080px) {
      min-height: 30vh;
      filter: none;
    }
  }

  @media only screen and (max-width: 1080px) {
    padding: 0 50px;
  }

  @media screen and (max-width: 480px) {
    .content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90vw;

      .description {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          position: relative;
          box-shadow: none;
          top: 0;
          left: 0;
        }

        p {
          text-align: center;
        }
      }

      .tech {
        justify-content: center;
        width: 80%;
        margin: 1rem auto;
      }

      .links {
        text-align: right;
      }
    }
  }
}
