.project {
  margin: 2rem;
  color: #fff;
  z-index: 11;

  .content {
    position: relative;
    min-width: 350px;
    min-height: 400px;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .1);
    border: 1px solid rgba(255, 255, 255, .5);
    border-right: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    padding: 20px;
    backdrop-filter: blur(25px);

    .title {
      font-size: clamp(1.1rem, 8vw, 2.2rem);
    }
  }
}