.quote {
  color: rgba(255, 255, 255, .5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: auto;

  p {
    font-size: clamp(3rem, 5rem, 6rem);
    text-align: center;
    font-family: 'Passions Conflict', cursive;
    color: rgba(255, 255, 255, .7);    

    @media screen and (max-width: 768px) {
      font-size: 3rem;
    }
  }

  span {
    font-weight: bold;
  }

  .decor {
    font-size: 4rem;
    color: #350933;
    font-family: 'Passions Conflict', cursive;
  }
}