.skills {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: clamp(2rem, 2.5vw, 3rem);
  margin: 100px auto;
  
  .icon {
    color: rgb(0, 255, 255);

    &:hover {
      animation: multicolor 3s linear infinite;
    }
  }

  @keyframes multicolor {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }

  @media screen and (max-width: 768px) {
    margin: 50px auto;
  }
}
