.skills {
  width: 100%;
  height: fit-content;
  min-height: 20vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-color: #121212;
  font-size: clamp(2rem, 2.5vw, 3rem);
  border-bottom: 2px solid rgba(255, 255, 255, 0.226);
  border-top: 2px solid rgba(255, 255, 255, 0.226);
  
  .icon {
    color: rgb(0, 255, 255);

    &:hover {
      animation: multicolor 3s linear infinite;
    }
  }

  @keyframes multicolor {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
}
